<!-- Navigation sidebar -->
<nav class="col-md-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i> Tableau de bord
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clients">
                    <i class="fas fa-users"></i> Clients
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prestations">
                    <i class="fas fa-briefcase"></i> Prestations
                </a>
            </li>
            
            <!-- NOUVEAU : Onglet Prospection -->
            <li class="nav-item">
                <a class="nav-link" href="/prospection">
                    <i class="fas fa-chart-line"></i> Prospection
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/indisponibilite">
                    <i class="fas fa-calendar-times"></i> Indisponibilités
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/factures">
                    <i class="fas fa-file-invoice"></i> Factures
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/devis">
                    <i class="fas fa-file-contract"></i> Devis
                </a>
            </li>
            
            <!-- NOUVEAU : Onglet Sauvegarde -->
            <li class="nav-item">
                <a class="nav-link" href="/sauvegarde">
                    <i class="fas fa-database"></i> Sauvegarde
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/parametres">
                    <i class="fas fa-cog"></i> Paramètres
                </a>
            </li>
        </ul>
    </div>
</nav>